In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('교통_2019_연령24세이하_남성.csv')

In [3]:
df1.head()

,Unnamed: 0,가구주_성별코드,가구주_연령,가계지출_소비지출_교통비,가계지출_소비지출_교통_자동차구입비,가계지출_소비지출_교통_기타운송기구구입비,가계지출_소비지출_교통_운송기구유지수리비,가계지출_소비지출_교통_운송기구연료비,가계지출_소비지출_교통_기타개인교통서비스이용금액,가계지출_소비지출_교통_철도운송금액,가계지출_소비지출_교통_육상운송금액,가계지출_소비지출_교통_기타운송금액,가계지출_소비지출_교통_기타교통관련서비스이용금액
0,194,1,23,69600,0,0,0,0,0,69600,0,0,0
1,248,1,22,45000,0,0,0,0,0,0,0,45000,0
2,277,1,24,93093,0,0,0,0,0,0,33583,59509,0
3,438,1,23,122268,0,0,0,0,0,0,51833,70435,0
4,513,1,22,245033,0,0,0,0,0,1667,243367,0,0

In [41]:
df1.sort_values(by='가계지출_소비지출_교통_육상운송금액',ascending=False)

,Unnamed: 0,가구주_성별코드,가구주_연령,가계지출_소비지출_교통비,가계지출_소비지출_교통_자동차구입비,가계지출_소비지출_교통_기타운송기구구입비,가계지출_소비지출_교통_운송기구유지수리비,가계지출_소비지출_교통_운송기구연료비,가계지출_소비지출_교통_기타개인교통서비스이용금액,가계지출_소비지출_교통_철도운송금액,가계지출_소비지출_교통_육상운송금액,가계지출_소비지출_교통_기타운송금액,가계지출_소비지출_교통_기타교통관련서비스이용금액
4,513,1,22,245033,0,0,0,0,0,1667,243367,0,0
31,2565,1,21,367825,0,0,0,62000,74620,0,145005,86200,0
33,2994,1,20,142794,0,0,0,0,0,0,142794,0,0
84,9407,1,24,126700,0,0,0,0,0,0,126700,0,0
27,1716,1,23,155125,0,0,0,0,0,16300,126500,4825,7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,2362,1,23,40226,0,0,0,0,1130,0,0,39096,0
1,248,1,22,45000,0,0,0,0,0,0,0,45000,0
57,4658,1,23,22500,0,0,0,0,0,0,0,22500,0
55,4529,1,21,80667,0,0,0,80667,0,0,0,0,0
0,194,1,23,69600,0,0,0,0,0,69600,0,0,0

In [46]:
열별_평균 = df1.mean()
print(열별_평균)

Unnamed: 0                      3736.800000
가구주_성별코드                           1.000000
가구주_연령                            22.564706
가계지출_소비지출_교통비                 106953.058824
가계지출_소비지출_교통_자동차구입비                0.000000
가계지출_소비지출_교통_기타운송기구구입비          2396.082353
가계지출_소비지출_교통_운송기구유지수리비          6774.811765
가계지출_소비지출_교통_운송기구연료비           21625.976471
가계지출_소비지출_교통_기타개인교통서비스이용금액      3774.082353
가계지출_소비지출_교통_철도운송금액            13078.847059
가계지출_소비지출_교통_육상운송금액            35678.564706
가계지출_소비지출_교통_기타운송금액            23097.682353
가계지출_소비지출_교통_기타교통관련서비스이용금액       527.023529
dtype: float64

In [32]:
a = '가계지출_소비지출_교통비'
평균 = df1[a].mean()
중앙값 = df1[a].median()
최고값 = df1[a].max()
최소값 = df1[a].min()
x = round(평균,-2)

y = round(중앙값,-2)

z = round(최고값,-2)

r = round(최소값,-2)
print(a)
print(f"최고값: {z}원")
print(f"최소값: {r}원")
print(f"평균: {x}원")
print(f"중앙값: {y}원")

가계지출_소비지출_교통비
최고값: 573000원
최소값: 2800원
평균: 107000.0원
중앙값: 77400.0원

In [34]:
b = '가계지출_소비지출_교통_자동차구입비'
평균 = df1[b].mean()
중앙값 = df1[b].median()
최고값 = df1[b].max()
최소값 = df1[b].min()
x = round(평균,-2)

y = round(중앙값,-2)

z = round(최고값,-2)

r = round(최소값,-2)
print(b)
print(f"최고값: {z}원")
print(f"최소값: {r}원")
print(f"평균: {x}원")
print(f"중앙값: {y}원")

가계지출_소비지출_교통_자동차구입비
최고값: 0원
최소값: 0원
평균: 0.0원
중앙값: 0.0원

In [36]:
c = '가계지출_소비지출_교통_기타운송기구구입비'
평균 = df1[c].mean()
중앙값 = df1[c].median()
최고값 = df1[c].max()
최소값 = df1[c].min()
x = round(평균,-2)

y = round(중앙값,-2)

z = round(최고값,-2)

r = round(최소값,-2)
print(c)
print(f"최고값: {z}원")
print(f"최소값: {r}원")
print(f"평균: {x}원")
print(f"중앙값: {y}원")

가계지출_소비지출_교통_기타운송기구구입비
최고값: 99800원
최소값: 0원
평균: 2400.0원
중앙값: 0.0원

In [43]:


d = '가계지출_소비지출_교통_육상운송금액'
평균 = df1[d].mean()
중앙값 = df1[d].median()
최고값 = df1[d].max()
최소값 = df1[d].min()
x = round(평균,-2)

y = round(중앙값,-2)

z = round(최고값,-2)

r = round(최소값,-2)
print(d)
print(f"최고값: {z}원")
print(f"최소값: {r}원")
print(f"평균: {x}원")
print(f"중앙값: {y}원")

가계지출_소비지출_교통_육상운송금액
최고값: 243400원
최소값: 0원
평균: 35700.0원
중앙값: 21100.0원